openapi: 3.0.1
info:
  title: SEMOSS
  version: 0.0.1-SNAPSHOT
servers:
- url: https://workshop.cfg.deloitte.com/cfg-ai-demo/Monolith
  description: Demo Endpoint URL
- url: http://localhost:8080/Monolith
  description: Local Development
tags:
- name: API
  description: API for querying insights
paths:
  /app-{databaseId}/appImage/download:
    get:
      operationId: imageDownload_1
      parameters:
      - name: databaseId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
            application/svg+xml: {}
      deprecated: true
      security:
      - basicAuth: []
  /app-{databaseId}/updateSmssFile:
    post:
      operationId: updateSmssFile_1
      parameters:
      - name: databaseId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
      deprecated: true
      security:
      - basicAuth: []
  /auth/changeADPassword:
    post:
      operationId: changeADPassword
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/createAPIUser:
    post:
      operationId: createAPIUser
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/createUser:
    post:
      operationId: createNativeUser
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/getAllLoginProperties:
    get:
      operationId: getAllLoginProperties
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login:
    post:
      operationId: loginNative
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/adfs:
    get:
      operationId: loginADFS
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/dropbox:
    get:
      operationId: loginDropBox
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/github:
    get:
      operationId: loginGithub
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/gitlab:
    get:
      operationId: loginGitlab
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/google:
    get:
      operationId: loginGoogle
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/linkedin:
    get:
      operationId: loginLinkedin
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/microsoft:
    get:
      operationId: loginMicrosoft
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/ms:
    get:
      operationId: loginMS
      responses:
        default:
          description: default response
          content:
            application/json: {}
      deprecated: true
  /auth/login/okta:
    get:
      operationId: loginOkta
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/producthunt:
    get:
      operationId: loginProducthunt
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/salesforce:
    get:
      operationId: loginSalesforce
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/siteminder:
    get:
      operationId: loginSiteminder
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/surveymonkey:
    get:
      operationId: loginSurveyMonkey
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/twitter:
    get:
      operationId: loginTwitter
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/login/{provider}:
    get:
      operationId: loginGeneric
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/loginLDAP:
    post:
      operationId: loginLDAP
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/loginLinOTP:
    post:
      operationId: loginLinOTP
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/loginProperties:
    get:
      operationId: loginProperties
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/logins:
    get:
      operationId: getAllLogins
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /auth/loginsAllowed:
    get:
      operationId: loginsAllowed
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/logout/{provider}:
    get:
      operationId: logout
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
      - name: disableRedirect
        in: query
        schema:
          type: boolean
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/modifyAllLoginProperties:
    post:
      operationId: modifyAllLoginProperties
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/modifyLoginProperties/{provider}:
    post:
      operationId: modifyLoginProperties
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/resetLinOTPFailCounter:
    post:
      operationId: resetLinOTPFailCounter
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/userinfo/adfs:
    get:
      operationId: userinfoADFS
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/userinfo/dropbox:
    get:
      operationId: userinfoDropbox
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/userinfo/github:
    get:
      operationId: userinfoGithub
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/userinfo/google:
    get:
      operationId: userinfoGoogle
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/userinfo/microsoft:
    get:
      operationId: userinfoMicrosoft
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/userinfo/ms:
    get:
      operationId: userinfoMs
      responses:
        default:
          description: default response
          content:
            application/json: {}
      deprecated: true
  /auth/userinfo/okta:
    get:
      operationId: userinfoOkta
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/userinfo/{provider}:
    get:
      operationId: userinfoGeneric
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /auth/whoami:
    get:
      operationId: show
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /authorization/searchForUser:
    get:
      operationId: searchForUser
      parameters:
      - name: searchTerm
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /e-{engineId}/image/download:
    get:
      operationId: imageDownload
      parameters:
      - name: engineId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
            application/svg+xml: {}
  /e-{engineId}/updateSmssFile:
    post:
      operationId: updateSmssFile
      parameters:
      - name: engineId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
  /engine/add:
    get:
      operationId: addEngine
      parameters:
      - name: api
        in: query
        schema:
          type: string
      - name: database
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /engine/all:
    get:
      operationId: printEngines
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /engine/central/context/getAutoCompleteResults:
    get:
      operationId: getAutoCompleteResults
      parameters:
      - name: completeTerm
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /engine/central/context/getSearchInsightsResults:
    post:
      operationId: getSearchInsightsResults
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /engine/comet:
    get:
      operationId: cometTry
      responses:
        default:
          description: default response
          content:
            text/plain:
              schema:
                type: string
      security:
      - basicAuth: []
  /engine/console:
    post:
      operationId: console
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /engine/downloadFile:
    get:
      operationId: downloadFile
      parameters:
      - name: insightId
        in: query
        schema:
          type: string
      - name: fileKey
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
      security:
      - basicAuth: []
  /engine/error:
    post:
      operationId: error
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /engine/getPipeline:
    post:
      operationId: getPixelPipelinePlan
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
      security:
      - basicAuth: []
  /engine/help:
    get:
      operationId: printURL
      responses:
        default:
          description: default response
          content:
            text/html: {}
      security:
      - basicAuth: []
  /engine/jkill:
    get:
      operationId: killJob
      parameters:
      - name: jobId
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/xml: {}
      security:
      - basicAuth: []
  /engine/joutput:
    get:
      operationId: getJobOutput
      parameters:
      - name: jobId
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            text/plain:
              schema:
                type: string
      security:
      - basicAuth: []
  /engine/mediawiki/tags:
    get:
      operationId: getMediaWikiTagsForSearchTerm
      parameters:
      - name: searchTerm
        in: query
        schema:
          type: string
      - name: numResults
        in: query
        schema:
          type: integer
          format: int32
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /engine/partial:
    post:
      operationId: partial
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /engine/playsheets:
    get:
      operationId: getPlaySheets
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /engine/reset:
    post:
      operationId: reset
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /engine/result:
    post:
      operationId: result
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /engine/runPixel:
    post:
      operationId: runPixelSync
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
      security:
      - basicAuth: []
  /engine/runPixelAsync:
    post:
      operationId: runPixelAsync
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
      security:
      - basicAuth: []
  /engine/status:
    post:
      operationId: status
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /engine/terminate:
    post:
      operationId: terminate
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /ext/mcp/{toolbox_id}/comms:
    post:
      operationId: comms
      parameters:
      - name: toolbox_id
        in: path
        required: true
        schema:
          type: string
      - name: access_key
        in: query
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              type: object
      responses:
        default:
          description: default response
          content:
            text/event-stream: {}
      security:
      - basicAuth: []
  /ext/mcp/{toolbox_id}/it:
    post:
      operationId: getInsightData
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        default:
          description: default response
          content:
            text/plain: {}
      security:
      - basicAuth: []
  /get:
    get:
      tags:
      - API
      operationId: getJSONOutput
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
  /model/openai/chat/completions:
    post:
      operationId: runModelChatCompletion
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
      security:
      - basicAuth: []
  /model/openai/completions:
    post:
      operationId: runModelCompletion
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
      security:
      - basicAuth: []
  /model/openai/embeddings:
    post:
      operationId: runModelEmbeddings
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
      security:
      - basicAuth: []
  /model/openai/models:
    get:
      operationId: listModels
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
      security:
      - basicAuth: []
  /model/openai/models/{modelId}:
    get:
      operationId: retrieveModel
      parameters:
      - name: modelId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
      security:
      - basicAuth: []
  /project-{projectId}/downloadProjectAsset/{relPath}:
    get:
      operationId: downloadProjectAsset
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: relPath
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            text/html: {}
            application/octet-stream: {}
      security:
      - basicAuth: []
  /project-{projectId}/embedLogo:
    get:
      operationId: getEmbedUrl
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: insightId
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            text/html: {}
            application/octet-stream: {}
      security:
      - basicAuth: []
  /project-{projectId}/insightImage/download:
    get:
      operationId: downloadInsightImage
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: rdbmsId
        in: query
        schema:
          type: string
      - name: params
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
            application/svg+xml: {}
      security:
      - basicAuth: []
  /project-{projectId}/jdbc:
    get:
      operationId: getJDBCOutput
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: insightId
        in: query
        schema:
          type: string
      - name: sql
        in: query
        schema:
          type: string
      - name: open
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
      security:
      - basicAuth: []
  /project-{projectId}/jdbc_csv:
    get:
      operationId: getJDBCCSVOutput
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: insightId
        in: query
        schema:
          type: string
      - name: sql
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            text/plain;charset=utf-8: {}
      security:
      - basicAuth: []
  /project-{projectId}/jdbc_json:
    get:
      operationId: getJDBCJsonOutput
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: insightId
        in: query
        schema:
          type: string
      - name: sql
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
      security:
      - basicAuth: []
  /project-{projectId}/landing:
    get:
      operationId: getProjectLandingPage
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            text/html: {}
      security:
      - basicAuth: []
  /project-{projectId}/projectImage/download:
    get:
      operationId: downloadProjectImage
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
            application/svg+xml: {}
      security:
      - basicAuth: []
  /project-{projectId}/projectWidget:
    get:
      operationId: getAppWidget
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: widget
        in: query
        schema:
          type: string
      - name: file
        in: query
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
      security:
      - basicAuth: []
  /project-{projectId}/runReactor/{reactorName}:
    post:
      operationId: runReactor
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: reactorName
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
      security:
      - basicAuth: []
  /project-{projectId}/updateSmssFile:
    post:
      operationId: updateSmssFile_2
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
      security:
      - basicAuth: []
  /schedule/executePixel:
    post:
      operationId: executePixel
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /session/active:
    get:
      operationId: getActiveSessions
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
  /session/cancelCleanSession:
    post:
      operationId: cancelCleanSession
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
  /session/cleanSession:
    post:
      operationId: cleanSession
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
  /session/insights:
    get:
      operationId: getInsights
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
  /session/invalidateSession:
    get:
      operationId: invalidateSession
      responses:
        default:
          description: default response
          content:
            application/json;charset=utf-8: {}
  /themes/createAdminTheme:
    post:
      operationId: createAdminTheme
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /themes/deleteAdminTheme:
    post:
      operationId: deleteAdminTheme
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /themes/editAdminTheme:
    post:
      operationId: editAdminTheme
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /themes/getActiveAdminTheme:
    get:
      operationId: getActiveAdminTheme
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /themes/getAdminThemes:
    get:
      operationId: getAdminThemes
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /themes/setActiveAdminTheme:
    post:
      operationId: setActiveAdminTheme
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /themes/setAllAdminThemesInactive:
    post:
      operationId: setAllAdminThemesInactive
      responses:
        default:
          description: default response
          content:
            application/json: {}
