{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "SEMOSS",
    "version" : "0.0.1-SNAPSHOT"
  },
  "servers" : [ {
    "url" : "https://workshop.cfg.deloitte.com/cfg-ai-demo/Monolith/api",
    "description" : "Demo Endpoint URL"
  }, {
    "url" : "http://localhost:8080/Monolith/api",
    "description" : "Local Development"
  } ],
  "tags" : [ {
    "name" : "API",
    "description" : "API for querying insights"
  }, {
    "name" : "Authorization",
    "description" : "Authorization and user search APIs"
  }, {
    "name" : "Engine Route",
    "description" : "Per-engine endpoints for SMSS configuration updates and image download."
  }, {
    "name" : "Database Engine",
    "description" : "LEGACY endpoints for database operations. Deprecated: use /e-{engineId} or /database-{databaseId} endpoints instead."
  }, {
    "name" : "MCP",
    "description" : "Endpoints for Model Context Protocol streaming and event communication"
  }, {
    "name" : "Engine Execution",
    "description" : " Executes a Pixel (SEMOSS scripting language) command. Pixels are used for data processing, analytics, and workflow automation in SEMOSS."
  }, {
    "name" : "AI Models",
    "description" : "AI and machine learning model operations"
  }, {
    "name" : "Project",
    "description" : "Endpoints for managing projects, accessing project assets, images, and executing project-level queries (JDBC JSON/CSV outputs)"
  }, {
    "name" : "Scheduler",
    "description" : "Execute Pixel in scheduler context."
  }, {
    "name" : "Session",
    "description" : "Session management and cleanup"
  }, {
    "name" : "Themes",
    "description" : "Endpoints for managing administrative UI themes"
  }, {
    "name" : "Authentication",
    "description" : "User authentication and session management"
  }, {
    "name" : "auth",
    "description" : "Endpoints for managing authentication and authorization of users and applications, including user permissions, access control, and administrative actions."
  } ],
  "paths" : {
    "/app-{databaseId}/appImage/download" : {
      "get" : {
        "tags" : [ "Database Engine" ],
        "summary" : "Download database image (legacy)",
        "description" : "Downloads the database image for the specified database. Deprecated: use /e-{engineId}/image/download.",
        "operationId" : "imageDownload_1",
        "parameters" : [ {
          "name" : "databaseId",
          "in" : "path",
          "description" : "Database identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "databaseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Image downloaded",
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/svg+xml" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "basicAuth" : [ ]
        } ]
      }
    },
    "/app-{databaseId}/updateSmssFile" : {
      "post" : {
        "tags" : [ "Database Engine" ],
        "summary" : "Update database SMSS file (legacy)",
        "description" : "Updates the SMSS configuration file for the specified database. Deprecated: use /database-{databaseId} or /e-{engineId} equivalent.",
        "operationId" : "updateSmssFile_1",
        "parameters" : [ {
          "name" : "databaseId",
          "in" : "path",
          "description" : "Database identifier",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "databaseId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "SMSS file updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyUpdateResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true,
        "security" : [ {
          "basicAuth" : [ ]
        } ]
      }
    },
    "/auth/admin/app/addAllUsers" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Add all users (legacy)",
        "description" : "Adds all users to a database. Deprecated: use /auth/admin/engine/addAllUsers.",
        "operationId" : "addAllUsers",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/app/addAppUserPermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Add app user permission (legacy)",
        "description" : "Adds a user permission for a database. Deprecated: use /auth/admin/engine/addEngineUserPermission.",
        "operationId" : "addAppUserPermission",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/app/editAppUserPermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Edit app user permission (legacy)",
        "description" : "Edits a user's permission for a database. Deprecated: use /auth/admin/engine/editEngineUserPermission.",
        "operationId" : "editAppUserPermission",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/app/getAllUserApps" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Get all user apps (legacy)",
        "description" : "Lists engines a user has access to. Deprecated: use /auth/admin/engine/getAllUserEngines with engineTypes.",
        "operationId" : "getAllUserApps",
        "responses" : {
          "200" : {
            "description" : "User apps retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/app/getAppUsers" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Get app users (legacy)",
        "description" : "Gets users and permissions for a database. Deprecated: use /auth/admin/engine/getEngineUsers.",
        "operationId" : "getAppUsers",
        "parameters" : [ {
          "name" : "appId",
          "in" : "query",
          "description" : "Database identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "description" : "Search term",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Users retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/app/getAppUsersNoCredentials" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Get app users without credentials (legacy)",
        "description" : "Lists users without engine credentials. Deprecated: use /auth/admin/engine/getEngineUsersNoCredentials.",
        "operationId" : "getAppUsersNoCredentials",
        "parameters" : [ {
          "name" : "appId",
          "in" : "query",
          "description" : "Database identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "description" : "Search term",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Users retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/app/getApps" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Get apps (legacy)",
        "description" : "Returns engine settings for database-type engines. Deprecated: use /auth/admin/engine/getEngines with engineTypes.",
        "operationId" : "getUserApps",
        "parameters" : [ {
          "name" : "databaseId",
          "in" : "query",
          "description" : "Filter by databaseId (repeatable)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "databaseId",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Apps retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/app/grantAllApps" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Grant all apps (legacy)",
        "description" : "Grants a user permissions to all database-type engines. Deprecated: use /auth/admin/engine/grantAllEngines.",
        "operationId" : "grantAllApps",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/app/grantNewUsersAppAccess" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Grant new users app access (legacy)",
        "description" : "Grants all new users access to a database. Deprecated: use /auth/admin/engine/grantNewUsersEngineAccess.",
        "operationId" : "grantNewUsersAppAccess",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/app/removeAppUserPermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Remove app user permission (legacy)",
        "description" : "Removes a user's permission for a database. Deprecated: use /auth/admin/engine/removeEngineUserPermission.",
        "operationId" : "removeAppUserPermission",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/app/setAppDiscoverable" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Set app discoverable (legacy)",
        "description" : "Sets the database discoverability. Deprecated: use /auth/admin/engine/setEngineDiscoverable.",
        "operationId" : "setAppDiscoverable",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/app/setAppGlobal" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Set app global (legacy)",
        "description" : "Sets the database public/private. Deprecated: use /auth/admin/engine/setEngineGlobal.",
        "operationId" : "setAppGlobal",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/app/updateAppUserPermissions" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Update app user permissions (legacy)",
        "description" : "Updates all users' permissions for a database. Deprecated: use /auth/admin/engine/updateEngineUserPermissions.",
        "operationId" : "updateAppUserPermissions",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/addAllUsers" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Add all users (legacy)",
        "description" : "Adds all users to a database. Deprecated: use /auth/admin/engine/addAllUsers.",
        "operationId" : "addAllUsers_1",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/addDatabaseUserPermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Add database user permission (legacy)",
        "description" : "Adds a user permission for a database. Deprecated: use /auth/admin/engine/addEngineUserPermission.",
        "operationId" : "addDatabaseUserPermission",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/addDatabaseUserPermissions" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Add database user permissions in bulk (legacy)",
        "description" : "Adds user permissions in bulk. Deprecated: use /auth/admin/engine/addEngineUserPermissions.",
        "operationId" : "addDatabaseUserPermissions",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/approveDatabaseUserAccessRequest" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Approve database user access request (legacy)",
        "description" : "Approves user access requests and adds permissions. Deprecated: use /auth/admin/engine/approveEngineUserAccessRequest.",
        "operationId" : "approveDatabaseUserAccessRequest",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/denyDatabaseUserAccessRequest" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Deny database user access request (legacy)",
        "description" : "Denies user access requests. Deprecated: use /auth/admin/engine/denyEngineUserAccessRequest.",
        "operationId" : "denyDatabaseUserAccessRequest",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/editDatabaseUserPermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Edit database user permission (legacy)",
        "description" : "Edits a user's permission for a database. Deprecated: use /auth/admin/engine/editEngineUserPermission.",
        "operationId" : "editDatabaseUserPermission",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/editDatabaseUserPermissions" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Edit database user permissions in bulk (legacy)",
        "description" : "Edits multiple user permissions. Deprecated: use /auth/admin/engine/editEngineUserPermissions.",
        "operationId" : "editDatabaseUserPermissions",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/getAllUserDatabases" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Get all user databases (legacy)",
        "description" : "Lists engines a user has access to. Deprecated: use /auth/admin/engine/getAllUserEngines with engineTypes.",
        "operationId" : "getAllUserDatabases",
        "responses" : {
          "200" : {
            "description" : "User databases retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/getDatabaseUsers" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Get database users (legacy)",
        "description" : "Gets users and permissions for a database. Deprecated: use /auth/admin/engine/getEngineUsers.",
        "operationId" : "getDatabaseUsers",
        "parameters" : [ {
          "name" : "databaseId",
          "in" : "query",
          "description" : "Database identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "User identifier to filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "description" : "Search term",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "permission",
          "in" : "query",
          "description" : "Permission filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "databaseId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "permission",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Users retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/getDatabaseUsersNoCredentials" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Get database users without credentials (legacy)",
        "description" : "Lists users without engine credentials. Deprecated: use /auth/admin/engine/getEngineUsersNoCredentials.",
        "operationId" : "getDatabaseUsersNoCredentials",
        "parameters" : [ {
          "name" : "databaseId",
          "in" : "query",
          "description" : "Database identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "description" : "Search term",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "databaseId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Users retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/getDatabases" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Get databases (legacy)",
        "description" : "Returns engine settings for database-type engines. Deprecated: use /auth/admin/engine/getEngines with engineTypes.",
        "operationId" : "getDatabases",
        "parameters" : [ {
          "name" : "databaseId",
          "in" : "query",
          "description" : "Filter by databaseId (repeatable)",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "databaseId",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Databases retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/grantAllDatabases" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Grant all databases (legacy)",
        "description" : "Grants a user permissions to all database-type engines. Deprecated: use /auth/admin/engine/grantAllEngines.",
        "operationId" : "grantAllDatabases",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/grantNewUsersDatabaseAccess" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Grant new users database access (legacy)",
        "description" : "Grants all new users access to a database. Deprecated: use /auth/admin/engine/grantNewUsersEngineAccess.",
        "operationId" : "grantNewUsersDatabaseAccess",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/removeDatabaseUserPermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Remove database user permission (legacy)",
        "description" : "Removes a user's permission for a database. Deprecated: use /auth/admin/engine/removeEngineUserPermission.",
        "operationId" : "removeDatabaseUserPermission",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/removeDatabaseUserPermissions" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Remove database user permissions in bulk (legacy)",
        "description" : "Removes multiple users' permissions. Deprecated: use /auth/admin/engine/removeEngineUserPermissions.",
        "operationId" : "removeDatabaseUserPermissions",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/setDatabaseDiscoverable" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Set database discoverable (legacy)",
        "description" : "Sets the database discoverability. Deprecated: use /auth/admin/engine/setEngineDiscoverable.",
        "operationId" : "setDatabaseDiscoverable",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/setDatabaseGlobal" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Set database global (legacy)",
        "description" : "Sets the database public/private. Deprecated: use /auth/admin/engine/setEngineGlobal.",
        "operationId" : "setDatabaseGlobal",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/database/updateDatabaseUserPermissions" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Update database user permissions (legacy)",
        "description" : "Updates all users' permissions for a database. Deprecated: use /auth/admin/engine/updateEngineUserPermissions.",
        "operationId" : "updateDatabaseUserPermissions",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LegacyAdminSuccessResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/auth/admin/engine/addAllUsers" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Add all users",
        "description" : "Adds all users to an engine.",
        "operationId" : "addAllUsers_2",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/addEngineUserPermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Add engine user permission",
        "description" : "Adds a user's permission for an engine.",
        "operationId" : "addEngineUserPermission",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/addEngineUserPermissions" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Add engine user permissions (bulk)",
        "description" : "Adds user permissions in bulk for an engine.",
        "operationId" : "addEngineUserPermissions",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/approveEngineUserAccessRequest" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Approve engine user access request",
        "description" : "Approves user access requests and adds permissions.",
        "operationId" : "approveEngineUserAccessRequest",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/denyEngineUserAccessRequest" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Deny engine user access request",
        "description" : "Denies user access requests.",
        "operationId" : "denyEngineUserAccessRequest",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/editEngineUserPermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Edit engine user permission",
        "description" : "Edits a user's permission for an engine.",
        "operationId" : "editEngineUserPermission",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/editEngineUserPermissions" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Edit engine user permissions (bulk)",
        "description" : "Edits multiple user permissions for an engine.",
        "operationId" : "editEngineUserPermissions",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/getAllUserEngines" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Get all user engines",
        "description" : "Lists engines a user has access to, optionally filtered by types.",
        "operationId" : "getAllUserEngines",
        "responses" : {
          "200" : {
            "description" : "User engines retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/getEngineUsers" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Get engine users",
        "description" : "Gets users and permissions for an engine.",
        "operationId" : "getEngineUsers",
        "parameters" : [ {
          "name" : "engineId",
          "in" : "query",
          "description" : "Engine identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "description" : "User identifier to filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "description" : "Search term",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "permission",
          "in" : "query",
          "description" : "Permission filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "engineId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "permission",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Users retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/getEngineUsersNoCredentials" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Get engine users without credentials",
        "description" : "Lists users without engine credentials.",
        "operationId" : "getEngineUsersNoCredentials",
        "parameters" : [ {
          "name" : "engineId",
          "in" : "query",
          "description" : "Engine identifier",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "description" : "Search term",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "engineId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Users retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/getEngines" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Get engines",
        "description" : "Returns engines with optional filters.",
        "operationId" : "getEnginesGET",
        "parameters" : [ {
          "name" : "engineId",
          "in" : "query",
          "description" : "Filter by engineId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "engineTypes",
          "in" : "query",
          "description" : "Filter by engine types",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "filterWord",
          "in" : "query",
          "description" : "Search term",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Limit",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "metaKeys",
          "in" : "query",
          "description" : "Meta keys to include",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "noMeta",
          "in" : "query",
          "description" : "Exclude metadata",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "userT",
          "in" : "query",
          "description" : "Include user tracking",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "engineId",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "engineTypes",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "filterWord",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "metaKeys",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "noMeta",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "userT",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Engines retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Get engines (POST)",
        "description" : "Returns engines using form parameters in request body.",
        "operationId" : "getEnginesPOST",
        "responses" : {
          "200" : {
            "description" : "Engines retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/grantAllEngines" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Grant all engines",
        "description" : "Grants a user permissions to all engines, optionally filtered by types.",
        "operationId" : "grantAllEngines",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/grantNewUsersEngineAccess" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Grant new users engine access",
        "description" : "Grants all new users access to an engine.",
        "operationId" : "grantNewUsersEngineAccess",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/removeEngineUserPermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Remove engine user permission",
        "description" : "Removes a user's permission for an engine.",
        "operationId" : "removeEngineUserPermission",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/removeEngineUserPermissions" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Remove engine user permissions (bulk)",
        "description" : "Removes multiple users' permissions for an engine.",
        "operationId" : "removeEngineUserPermissions",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/setEngineDiscoverable" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Set engine discoverable",
        "description" : "Sets the engine discoverability.",
        "operationId" : "setEngineDiscoverable",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/setEngineGlobal" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Set engine global",
        "description" : "Sets the engine public/private.",
        "operationId" : "setEngineGlobal",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/engine/updateEngineUserPermissions" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Update engine user permissions",
        "description" : "Updates all users' permissions for an engine.",
        "operationId" : "updateEngineUserPermissions",
        "responses" : {
          "200" : {
            "description" : "Operation successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : { }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/auth/admin/group/addGroup" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Create a group",
        "description" : "Creates a new security group.",
        "operationId" : "addGroup",
        "responses" : {
          "200" : {
            "description" : "Group created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/addGroupEnginePermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Grant engine permission to group",
        "description" : "Adds an engine permission for a group.",
        "operationId" : "addGroupEnginePermission",
        "responses" : {
          "200" : {
            "description" : "Permission granted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/addGroupMember" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Add group member",
        "description" : "Adds a user to a group, optionally until an end date.",
        "operationId" : "addGroupMember",
        "responses" : {
          "200" : {
            "description" : "Member added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/addGroupProjectPermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Grant project permission to group",
        "description" : "Adds a project permission for a group.",
        "operationId" : "addGroupProjectPermission",
        "responses" : {
          "200" : {
            "description" : "Permission granted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/deleteGroup" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Delete a group",
        "description" : "Deletes a security group and propagates changes.",
        "operationId" : "deleteGroup",
        "responses" : {
          "200" : {
            "description" : "Group deleted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/deleteGroupMember" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Remove group member",
        "description" : "Removes a user from a group.",
        "operationId" : "deleteGroupMember",
        "responses" : {
          "200" : {
            "description" : "Member removed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/editGroup" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Edit a group",
        "description" : "Edits a group's id, type, or description and propagates changes.",
        "operationId" : "editGroup",
        "responses" : {
          "200" : {
            "description" : "Group edited",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/editGroupDetails" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Edit group details",
        "description" : "Updates group id, type, and description without membership changes.",
        "operationId" : "editGroupDetails",
        "responses" : {
          "200" : {
            "description" : "Group details updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/editGroupEnginePermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Edit engine permission for group",
        "description" : "Edits a group's engine permission.",
        "operationId" : "editGroupEnginePermission",
        "responses" : {
          "200" : {
            "description" : "Permission updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/editGroupProjectPermission" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Edit project permission for group",
        "description" : "Edits a group's project permission.",
        "operationId" : "editGroupProjectPermission",
        "responses" : {
          "200" : {
            "description" : "Permission updated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Server error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getAvailableEnginesForGroup" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "List available engines for group",
        "description" : "Returns engines that can be assigned to the group.",
        "operationId" : "getAvailableEnginesForGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Engines retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getAvailableProjectsForGroup" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "List available projects for group",
        "description" : "Returns projects that can be assigned to the group.",
        "operationId" : "getAvailableProjectsForGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "onlyApps",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Projects retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getEnginesForGroup" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "List engines for group",
        "description" : "Returns engines assigned to the specified group with optional filters and pagination.",
        "operationId" : "getEnginesForGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Engines retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getGroupMembers" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "List group members",
        "description" : "Returns members of a group with optional search and pagination.",
        "operationId" : "getGroupMembers",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Members retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getGroups" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "List groups",
        "description" : "Returns groups matching an optional search term with pagination.",
        "operationId" : "getAllGroups",
        "parameters" : [ {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Groups retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getNonGroupMembers" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "List non-members",
        "description" : "Returns users not assigned to the specified group.",
        "operationId" : "getNonGroupMembers",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Users retrieved",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getNumAvailableEnginesForGroup" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Count available engines for group",
        "description" : "Returns the number of engines that can be assigned to the group.",
        "operationId" : "getNumAvailableEnginesForGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Count returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "integer",
                  "format" : "int64"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getNumAvailableProjectsForGroup" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Count available projects for group",
        "description" : "Returns the number of projects that can be assigned to the group.",
        "operationId" : "getNumAvailableProjectsForGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "onlyApps",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Count returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "integer",
                  "format" : "int64"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getNumEnginesForGroup" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Count engines for group",
        "description" : "Returns the number of engines assigned to the specified group.",
        "operationId" : "getNumEnginesForGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Count returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "integer",
                  "format" : "int64"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getNumMembersInGroup" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Count group members",
        "description" : "Returns the number of users in a group, optionally filtered by a search term.",
        "operationId" : "getNumMembersInGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Count returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "integer",
                  "format" : "int64"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getNumNonMembersInGroup" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Count non-members",
        "description" : "Returns the number of users not assigned to a group.",
        "operationId" : "getNumNonMembersInGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Count returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "integer",
                  "format" : "int64"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getNumProjectsForGroup" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Count projects for group",
        "description" : "Returns the number of projects assigned to a group, with optional filters.",
        "operationId" : "getNumProjectsForGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "onlyApps",
          "in" : "query",
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Count returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "integer",
                  "format" : "int64"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/admin/group/getProjectsForGroup" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "List projects for group",
        "description" : "Returns projects assigned to the specified group with optional filters and pagination.",
        "operationId" : "getProjectsForGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "groupType",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "searchTerm",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
[...]
