<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Monolith</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>UserDBFilter</filter-name>
    <filter-class>prerna.web.conf.UserDBFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserDBFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserDBInsightFilter</filter-name>
    <filter-class>prerna.web.conf.UserDBInsightFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserDBInsightFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>
  <absolute-ordering>
  	<name>UserDBInsightFilter</name>
    <name>UserDBFilter</name>
  </absolute-ordering>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>prerna.semoss.web.app.MonolithApplication</param-value>
    </init-param>
  </servlet>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/api</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>security-enabled</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
         C:\\Development\\workspace\\SEMOSS-dev
    </param-value>
  </context-param>
  <context-param>
    <description>Temporary - Location to store uploaded file</description>
    <param-name>temp-file-upload</param-name>
    <param-value>
         C:\\Temp
    </param-value>
  </context-param>
  <context-param>
    <description>The place where the core RDF Map gets picked from</description>
    <param-name>RDF-MAP</param-name>
    <param-value>
         C:\\Development\\workspace\\SEMOSS-dev\\RDF_Map.prop
     </param-value>
  </context-param>
  <listener>
    <listener-class>
        prerna.web.conf.DBLoader
    </listener-class>
  </listener>
  <listener>
    <listener-class> 
        prerna.web.conf.UserDBLoader
    </listener-class>
  </listener>
</web-app>